<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid" style="background-color: #000;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Let's Slack Search!</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:60px;">
  <div class="row">
    <div class="col-sm-12">
      <h2>Slack on Railsへようこそ。</h2>
      <h3>下記のボタンからログインしてください。</h3>
      <%= form_tag(sessions_login_path, method: :post) do %>
        <div class="center-block">
          <input type="submit" value="Slackアカウントでログインする" class="btn btn-primary">
        </div>
      <% end %>
      <% if flash[:notice] %>
        <h4 class="text-danger"><%= flash[:notice] %></h4>
      <% end %>
    </div>
  </div>
</div>

