<h2>保存対象</h2>
<%= form_tag(togethers_searchs_output_path, method: :post) do %>
  <%= submit_tag('lodge出力', class: "btn btn-success ladda-button", name: 'lodge') %>
  <table class = "table table-bordered table-hover table-condensed">
    <thead>
      <tr class="bg-primary">
        <th>
          保存内容
        </th>
      </tr>
    </thead>
    <tbody class="drop height:1200px;">
      <tr class="bg-success">
        <td>
          ここに保存したいチャットをドラッグしてね！
        </td>
      </tr>
    </tbody>
   </table>
<% end %>
