    <div id="error_messages">
    </div>
    <h2>レッツSlack検索</h2>
    <%= render(partial: 'query_search', locals: {
        channel_list: @channel_list,
        user_list: @user_list,
        reaction_list: @reaction_list
      }
    )%>
    <%= render(partial: 'link_search') %>
    <div class="col-sm-6" style="float: right;">
      <%= render(partial: 'save') %>
    </div>
    <div id="result" class="col-sm-6">
      <h2>検索結果</h2>
      <p>ここに検索結果が表示されるよ！</p>
    </div>
<script>
$('form').on('ajax:send', function() {
// insert the failure message inside the "#account_settings" element
  alert("検索を開始しました。");

});
$('form').on('ajax:complete', function() {
// insert the failure message inside the "#account_settings" element
  alert("検索が完了しました。");
});
</script>
