<div class="hidden-xs" role="complementary" style="background-color: #4D394B; color: #AB9BA9;">
  <br />
  <ul style="height: 960px;">
  <h5>　■Channel指定検索</h5>
    <% channel_list.each do |channel| %>
      <li>
        <a href="/search/<%= channel[0] %>"><%= channel[0] %></a>
      </li>
    <% end %>
  <h5>　■タスク状況確認</h5>
    <% channel_list.each do |channel| %>
      <li>
        <a href="/todo_work/<%= channel[0] %>"><%= channel[0] %></a>
      </li>
    <% end %>
  </ul>
</div>
