<div role="complementary" style="background-color: #4D394B; color: #AB9BA9;">
  <br />
  <h5>■Channel</h5>
  <ul style="height: 960px;">
    <% channel_list.each do |channel| %>
      <li>
        <a href="#"><%= channel[0] %></a>
      </li>
    <% end %>
  </ul>
</div>
